Source: mangler
Section: net
Priority: extra
Maintainer: Eric Kilfoil <ekilfoil@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libgsm1-dev, libspeex-dev, libgtkmm-2.4-dev, libpulse-dev, librsvg2-2, libasound-dev, libespeak-dev, libusb-dev, libg15daemon-client-dev, libg15-dev, libg15render-dev, libdbus-glib-1-dev, libxosd-dev, libcelt-dev
Standards-Version: 3.8.0
Homepage: http://www.mangler.org/

Package: mangler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A VOIP client for connecting to Ventrilo 3.x servers
 Mangler is an open source implementation of a client for connecting to
 Ventrilo 3.x servers.  It supports keyboard and mouse button push to talk,
 GSM and Speex codecs, per-user volume control, a full featured server
 phonebook, the ability to connect to a server without adding it to your
 phonebook, and native PulseAudio, ALSA, and OSS support.
