Source: mangler
Section: net
Priority: extra
Maintainer: Eric Kilfoil <ekilfoil@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libgsm1-dev, libspeex-dev, libgtkmm-2.4-dev, libpulse-dev, librsvg2-common
Standards-Version: 3.8.3
Homepage: http://www.mangler.org/

Package: mangler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A VOIP client for connecting to Ventrilo 3.x servers
 Mangler is an open source implementation of a client for connecting to
 Ventrilo 3.x servers.  It supports keyboard and mouse button push to talk,
 GSM and Speex codecs, per-user volume control, a full featured server
 phonebook, the ability to connect to server without adding it to your
 phonebook, and native PulseAudio support.
